html, body {
  height: 100%;
  width: 100%;
  font-family: 'Share Tech Mono', monospace;
  background-image: linear-gradient(rgb(118, 118, 118), rgb(0, 0, 0));
}
.button{
  width: 100px;
  padding: 10px;
  margin: 0 3px;
  border: 2px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  color: white;
  background-color: #000000;
  box-shadow:  0px 6px 10px 5px rgba(0, 0, 0, 0.25);
  transition-duration: 0.4s;
  font-size: 45px;
  
}

.button:hover{
  background-color: #D5CEA3;
  border: 2px solid #D5CEA3;
}
.input{
  width: 400px;
  font-size: 100px;
    margin: 0;
    padding: 10px 0px;
    border: 20px solid #2a2626;
    border-radius: 10px;
    color: white;
    background-color: #000000;
  box-shadow:  0px 6px 10px 5px rgba(0, 0, 0, 0.25);
  font-family: 'Share Tech Mono', monospace;
}

.row{
  margin: 8px 0;
  display: flex;
  flex-direction: row;
}