* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

ul {
    list-style: none;
}

.navmenu {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.navmenu ul {
    margin-left: 40px;
    position: relative;
}

.navmenu ul li a {
    text-decoration: none;
    position: relative;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}

.navmenu ul li a span {
    white-space: nowrap;
    position: absolute;
    top: 0.6rem;
    font-size: 1rem;
    padding-left: 30px;
    color: orange;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    
}

.navmenu ul li a i {
    padding: 20px 0px;
    color: orange;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
}

.navmenu u li a:hover span {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

.slide-out-top {
    -webkit-transform: scale(0.8, 0.8) translateY(-60px);
    transform: scale(0.8, 0.8), translateY(-60px);
    -moz-transform: scale(0.8, 0.8) translateY(-60px);
    -ms-transform: scale(0.8, 0.8) translateY(-60px);
    -o-transform: scale(0.8, 0.8) translateY(-60px);
}

.slide-out {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

.slide-out-bottom {
    -webkit-transform: scale(0.8, 0.8) translateY(-60px);
    transform: scale(0.8, 0.8), translateY(-60px);
    -moz-transform: scale(0.8, 0.8) translateY(-60px);
    -ms-transform: scale(0.8, 0.8) translateY(-60px);
    -o-transform: scale(0.8, 0.8) translateY(-60px);

}