 /* navigation section  */
#navbar{
    flex-direction: column;
}
#navbar ul{
    margin: auto;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px ;
    padding-bottom: 8px;
}
#logo {
    margin:auto;
  }
 
 /* home section */
 #home{
    height: 356px;
}
#home::before{
    height:480px
}
#home p{
    font-size:1.1rem;
}
.btn{
    font-size:1rem;
    padding: 4px 8px;
}

/* services section  */
#services{
    flex-direction:column;
}#services .box h2:hover {
    font-size: 2.3rem;
}
#services .box {
    /* border: 2px solid brown; */
    padding: 10px;
    margin: 10px 0px;
    border-radius: 30px;
    background-color: whitesmoke;
    box-shadow: 2px 5px 10px -2px #000000b5;
}
#services .box img {
    /* height: 187px; */
    width: 200px;
}
/* cleints section  */
#clients{
    /* overflow: hidden; */
    flex-wrap: wrap;
}
#clients img{
    width:115px ;
    height:auto ;
    padding: 2px;
}
.client-item{
    padding: 2px;
}


/* contact us section  */

/* utility classes  */
.h-primary{
    font-size:2.6rem;
    padding: 10px;
}
.h-secondary{
    font-size: 2rem;

}



  #contact-box form {
    width: 50%;
  }
