body{
    text-align: center;
    margin: 0px;
    color: #545454;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {   
    background-color: #e0ebe8;
    margin: 0px;
    height: 100px;   
    z-index: 1000;
}

.header-logo {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 290px;
}

ul {
    position: absolute;
    float: right;
    right: 250px;
    top: 40px;
    color: #45b29a;
}

ul li {
    list-style: none;
    display: block;
    float: right;
    z-index: 1000;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0px;
    color: #45b29a;
    font-size: 110px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #1e836c;
    font-size: 2.5em;
    font-weight: 400;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #45b29a;
    font-size: 1.7em;
}

.programmer {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    color: #45b29a;
    font-size: 130%;
    font-weight: 400;

}

.top-container {
    padding-top: 100px;
    background-color: #e0ebe8;
    height: 550px;
    position: relative;
}

.top-cloud {
    position: absolute;
    top: 130px;
    right: 300px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 250px;
}

.mountain{
    position: absolute;
    bottom: 0;
    right: 380px;

}

.profile {
    margin: 100px auto;
    line-height: 2;
}

.intro {
    width: 30%;
    margin: auto;
}

.skills {
    margin: 100px auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.first-skill {
    float: left;
    margin-right: 30px;
}

.idea {
    position: relative;
    float: right;
    top: 35px;
    right: 722px;
    width: 80px;
}

.second-skill {
    float: right;
    margin-left: 30px;
}

.laptop {
    position: relative;
    float: right;
    width: 80px;
    top: 35px;
    left: 458px;
}

.first-line {
    border-style: dotted none none none;
    border-color: #e6ebeb;
    border-width: 4px;
    width: 15%;
    float: right;
    position: relative;
    right: 760px;
    top: 70px;
}

.second-line {
    border-style: dotted none none none;
    border-color: #e6ebeb;
    border-width: 4px;
    width: 15%;
    float: right;
    position: relative;
    left: 300px;
    top: 70px;
}

hr {
    border-style: dotted none none none;
    border-color: #e6ebeb;
    border-width: 6px;
    width: 5%;
}

/* .mid-container {
} */

.contact-me {
    margin: 100px auto;
    line-height: 1.7;
}

.contact-me p {
    margin-bottom: 50px;
}

.contact-message {
    width: 40%;
    margin: auto;
}

.btn {
    margin-top: 5000px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5pxpx;
    font-family: 'Open Sans', sans-serif;
    color: #1b7f69;
    font-size: 20px;
    background: #45b29a;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #1dac8a;
    text-decoration: none;
}

.bottom-container {
    background-color: #c5ded7;
    padding: 50px 0 20px;
}

.copyright {
    color: #45b29a;
    font-size: 0.75rem;
    padding: 20px 0;
}

a {
    color: #45b29a;
    text-decoration: none;
    margin: 10px 20px;
}

.about {
    color: #21564b;
}